/* Global styles ============= */
/*body {
  margin-top: 40px;
}*/

.hero {
    background-color: black;
    margin-top: 150px;
}
.navbar {
  padding-top: 4px;
  padding-bottom: 4px;
}
.navbar-collapse {
    justify-content: end;
}
.navbar-brand:hover {
  color: red;
  box-shadow: 10px 5px 5px red;
}
.nav-link:hover {
  color: red;
  box-shadow: 10px 5px 5px red;
}

.profile-image {
  width: 450px;
  height: 300px;
  width: 20vw;
  border-radius: 50%;
  border: 3px black double;
  padding: 1.2%;
}
#portfolio:hover {
  color: red;
  box-shadow: 10px 5px 5px red;
}
.card-title:hover {
  color: red;
  box-shadow: 10px 5px 5px red;
}
#projectcards {
  min-height: 900px;
}
h2 {
  color: blue !important;
  text-decoration: underline;
}

.card {
  background-color: rgb(222, 237, 241);
}
.btn:hover {
  color: red;
  box-shadow: 10px 5px 5px red;
}
.fa-solid:hover {
  color: red;
  box-shadow: 10px 5px 5px red;
}
.fab:hover {
  color: red;
  box-shadow: 10px 5px 5px red;
}

/*Screen size 1300px*/
@media (max-width: 1300px) {
  .profile-image {
    min-width: 253.93px;
    min-height: 300px;
  }
}
/*Screen size 435px*/
@media (max-width: 435px) {
    .profile-image {
      min-width: 167.59px;
      min-height: 198px;
    }
  }
/*Screen size 305px*/
@media (max-width: 305px) {
    .profile-image {
      min-width: 126.96px;
      min-height: 150px;
    }
  }