/* Global styles ============= */
body {
  margin-top: 40px;
}
.hero {
    background-color: black;
}

.profile-image {
  width: 450px;
  height: 300px;
  width: 20vw;
  border-radius: 50%;
  border: 3px black double;
  padding: 1.2%;
}
.profile {
  
}
/*Screen size 900px*/
@media (max-width: 900px) {
  .profile-image {
    min-width: 170.62px;
    min-height: 161.41;
  }
}
